@import 'tailwindcss';
@import '@fontsource/manrope';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--font-body: Manrope, "Noto Sans", sans-serif;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}